=form_tag "/custom_sign_up", method: :post do
  %ul
    -@user.errors.full_messages.each do |error|
      %li= error
    %div
      %label{for:"user_username"} Nombre de usuario
      =text_field_tag "user[username]", @user.username
    %div
      %label{for:"user_email"} Email
      =email_field_tag "user[email]", @user.email,required: true
    %div
      %label{for:"user_name"} Nombre
      =text_field_tag "user[name]", @user.name
    %div
      =submit_tag "Completar registro"