.row.middle-xs
    .col-xs-2.col-md-1
        =circle_img friendship.user_view.avatar.url(:thumb), 50
    .col-xs-5.col-md-6.text-left
        =friendship.user_view.username
    .col-xs-5
        =friendship.status_or_buttons